<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fullsail.android.anayajuan_ce10">
    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar">
        <!--Main Activity holding Politicians List Fragment-->
        <activity
            android:name="com.fullsail.android.anayajuan_ce10.MainActivity"
            android:label="@string/Politicians_List_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Voting History Activity-->
        <activity android:name=".VotingHistoryActivity"/>
        <!--Voting Information Activity-->
        <activity android:name=".VoteInfoActivity"/>
        <!--Politician Widget Configure Activity-->
        <activity android:name=".widgets.PoliticianWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <!--Vote History Widget Configure Activity-->
        <activity android:name=".widgets.VoteHistoryWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <!--Favorite Save Service-->
        <service android:name=".FavoriteSaverService"/>
        <!--WIDGETS-->
        <!--List Widget Service-->
        <service android:name=".widgets.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <!--Widget Updater-->
        <receiver android:name=".WidgetUpdater"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.fullsail.android.politicalwidgets.ACTION_UPDATE_WIDGETS" />
            </intent-filter>
        </receiver>
        <!--Politician Widget Provider-->
        <receiver android:name=".widgets.PoliticianWidget"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/politician_widget_info" />
        </receiver>
        <!--Vote History Widget Provider-->
        <receiver android:name=".widgets.VoteHistoryWidget"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vote_history_widget_info" />
        </receiver>
        <!-- TODO: Register everything in the manifest. and check exported and intent filters for receivers -->

    </application>

</manifest>
