<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paix.jpam.anayajuan_ce05">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Media Activity-->
        <activity android:name=".media.MediaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Audio Service-->
        <service
            android:name=".services.AudioService"
            android:enabled="true"
            android:exported="false" />
        <!--Notification Receiver-->
        <receiver
            android:name=".receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <!--Next Song-->
            <intent-filter>
                <action android:name="com.paix.jpam.anayajuan_ce05_mSongNext" />
            </intent-filter>
            <!--Previous Song-->
            <intent-filter>
                <action android:name="com.paix.jpam.anayajuan_ce05_mSongPrevious" />
            </intent-filter>
        </receiver>
    </application>

</manifest>